
*.dll
Conoce tu ukelele/obj/Debug/net6.0-windows/Conoce tu ukelele.designer.deps.json
*.dll
*.pdb
Conoce tu ukelele/.vs/Conoce tu ukelele/v17/.suo
Conoce tu ukelele/.vs/Conoce tu ukelele/v17/.suo
*.v2
Conoce tu ukelele/bin/Debug/net6.0-windows/Conoce tu ukelele.deps.json
*.dll
*.pdb
*.cache
Conoce tu ukelele/obj/Debug/net6.0-windows/Conoce tu ukelele.designer.deps.json
Conoce tu ukelele/obj/Debug/net6.0-windows/Conoce tu ukelele.dll
Conoce tu ukelele/obj/Conoce tu ukelele.csproj.nuget.dgspec.json
Conoce tu ukelele/obj/Conoce tu ukelele.csproj.nuget.g.props
Conoce tu ukelele/obj/Debug/net6.0-windows/Conoce tu ukelele.designer.deps.json
Conoce tu ukelele/obj/project.assets.json
Conoce tu ukelele/obj/project.nuget.cache
*.v2
Conoce tu ukelele/.vs/Conoce tu ukelele/DesignTimeBuild/.dtbcache.v2
