
Conoce tu ukelele/.vs/Conoce tu ukelele/DesignTimeBuild/.dtbcache.v2
Conoce tu ukelele/.vs/Conoce tu ukelele/v17/.suo
Conoce tu ukelele/bin/Debug/net6.0-windows/Conoce tu ukelele.deps.json
Conoce tu ukelele/bin/Debug/net6.0-windows/Conoce tu ukelele.dll
Conoce tu ukelele/bin/Debug/net6.0-windows/Conoce tu ukelele.pdb
Conoce tu ukelele/bin/Debug/net6.0-windows/Microsoft.DotNet.PlatformAbstractions.dll
Conoce tu ukelele/bin/Debug/net6.0-windows/Microsoft.Extensions.DependencyModel.dll
Conoce tu ukelele/bin/Debug/net6.0-windows/Microsoft.Extensions.PlatformAbstractions.dll
Conoce tu ukelele/bin/Debug/net6.0-windows/Nancy.dll
Conoce tu ukelele/bin/Debug/net6.0-windows/Newtonsoft.Json.dll
Conoce tu ukelele/obj/Conoce tu ukelele.csproj.nuget.dgspec.json
Conoce tu ukelele/obj/Conoce tu ukelele.csproj.nuget.g.props
Conoce tu ukelele/obj/Debug/net6.0-windows/Conoce tu ukelele.assets.cache
Conoce tu ukelele/obj/Debug/net6.0-windows/Conoce tu ukelele.csproj.AssemblyReference.cache
Conoce tu ukelele/obj/Debug/net6.0-windows/Conoce tu ukelele.csproj.CoreCompileInputs.cache
Conoce tu ukelele/obj/Debug/net6.0-windows/Conoce tu ukelele.csproj.FileListAbsolute.txt
Conoce tu ukelele/obj/Debug/net6.0-windows/Conoce tu ukelele.csproj.GenerateResource.cache
Conoce tu ukelele/obj/Debug/net6.0-windows/Conoce tu ukelele.designer.deps.json
Conoce tu ukelele/obj/Debug/net6.0-windows/Conoce tu ukelele.dll
Conoce tu ukelele/obj/Debug/net6.0-windows/Conoce tu ukelele.pdb
Conoce tu ukelele/obj/Debug/net6.0-windows/ref/Conoce tu ukelele.dll
Conoce tu ukelele/obj/Debug/net6.0-windows/refint/Conoce tu ukelele.dll
Conoce tu ukelele/obj/project.assets.json
Conoce tu ukelele/obj/project.nuget.cache
